/.cph
/.vscode
/a.exe
/A_AB_Balance.cpp
/A_Add_or_XOR.cpp
/A_Beautiful_Average.cpp
/A_Buying_Torches.cpp
/A_Circle_of_Apple_Trees.cpp
/A_El_fucho.cpp
/A_Helmets_in_Night_Light.cpp
/A_Increase_or_Smash.cpp
/A_Incremental_Subarray.cpp
/A_Johnny_and_Ancient_Computer.cpp
/A_MEX_Partition.cpp
/A_Notelock.cpp
/A_Red_Versus_Blue.cpp
/B_Abraham_s_Great_Escape.cpp
/B_Basketball_Together.cpp
/B_Beautiful_Array.cpp
/B_Beautiful_String.cpp
/B_Bitwise_Reversion.cpp
/B_Bogosort.cpp
/B_Deck_of_Cards.cpp
/B_Different_Divisors.cpp
/B_Divan_and_a_New_Project.cpp
/B_Fair_Numbers.cpp
/B_Luke_is_a_Foodie.cpp
/B_MEXor_Mixup.cpp
/B_Numbers_Box.cpp
/B_Roof_Construction.cpp
/B_Shoe_Shuffling.cpp
/B_Triangles_on_a_Rectangle.cpp
/B_Valerii_Against_Everyone.cpp
/C_Double_ended_Strings.cpp
/C_Move_Brackets.cpp
/C_Symmetrical_Polygons.cpp
/C_Traffic_Light.cpp
/D_Black_and_White_Stripe.cpp
/D_Distinct_Split.cpp
/e.c
/e.exe
/E_G_C_D_Unlucky.cpp
/F_Consecutive_Subsequence.cpp
/H_Palindrome.cpp
/input.txt
/J_Kitchen_Plates.cpp
/J_Waiting_for.cpp
/mo.cpp
/M_Minimum_LCM.cpp
/N_Fixing_the_Expression.cpp
/output.txt
/p.cpp
/projectofC1.c
/saiful.c
/saiful.exe
/SEARCH Engine.cpp
/SEARCH Engine.sql
/testbench.cpp